body {
  padding-top: 75px;
}

h1 {
font-weight: bold;
}

.box-shadow {
box-shadow: 0px 2px 4px 0 rgba(0,0,0,0.2 );
}

#msg-quote {
background: url(../img/bg-quote.jpg);
background-size: cover;
}

.lista-plano li + li {
  border-top: 1px solid rgba(0,0,0,.2);
}

.lista-plano li {
  padding: 1rem;
}

/*------responsive------*/

@media (max-width: 767px){

  #msg-quote .display-4 {
    font-size: 2.5rem;
  }

  body {
    padding: 0px;
  }

  .fixed-top {
    position: relative;
  }
}

